.card-title{
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #4E4E4E;
  background: #FDF1EB;
}

.card-subtitle {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #ED7839;
}

.discover {
  text-align: center;
  color: #ED7839;
}

.card-text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}

.discussion-icons {
  text-align: center;
}

.discution-icon {
  color: #ED7839;
  padding:20px;
}

.mat-card-actions {
  text-align: center;
}
.action-button {
  background: #ED7839;
  color: #FDF1EB;
  text-align: center;
}

.label {
  color: #ED7839;
}

.topics {
  padding: 10px;
}

