 <mat-card class="discussion-create" *ngIf="activeCard =='create'">
  <mat-card-title class="card-title">Discussões</mat-card-title>
  <mat-card-content>
    <h3 class="card-subtitle">Compartilhe suas ideias ou dúvidas com os autores!</h3>
    <div class="discussion-icons">
      <mat-icon class="discution-icon" aria-hidden="false" aria-label="Example home icon">spa</mat-icon>
      <mat-icon class="discution-icon" aria-hidden="false" aria-label="Example home icon">question_answer</mat-icon>
      <mat-icon class="discution-icon" aria-hidden="false" aria-label="Example home icon">people</mat-icon>
    </div>
    <p>Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus questionamentos ou sugestões para o autor!</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button class="action-button btn-create-topic" (click)="createTopic()">
      <mat-icon aria-hidden="false" aria-label="add topic button">add</mat-icon>
      criar tópico
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="discussion-send" *ngIf="activeCard =='send'">

  <form [formGroup]="formTopic" (ngSubmit)="sendTopic()">
    <mat-card-title class="card-title">Discussões</mat-card-title>
    <mat-card-content>
      <p class="card-text">
      Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!
      </p>
      <p>
          <mat-label class="label" for="assunto">Assunto</mat-label>
          <input
            class="subject"
            type="text"
            formControlName="subject"
            matInput
            placeholder="Defina um tópico sucinto para notificar os autores..."
          >
      </p>
      <p>
        <mat-form-field>
          <mat-label class="label" for="content">Conteúdo</mat-label>
          <textarea
            id="content" type="text" formControlName="content"
            matInput></textarea>
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="action-button btn-send-topic" type="submit">
        Enviar
      </button>
    </mat-card-actions>
  </form>
</mat-card>

<mat-card class="discussion-sent" *ngIf="activeCard =='sent'">
  <mat-card-title class="card-title">Discussões</mat-card-title>
  <mat-card-content class="text-center">
    <h3 class="card-subtitle">Seu tópico foi enviado com sucesso! :D</h3>
    <p>Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for respondido!</p>
    <a class="discover" href="#">Descubra outros trabalhos!</a>
    <div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button class="action-button btn-create-new-topic" (click)="createTopic()">
      criar novo tópico
    </a>
  </mat-card-actions>
</mat-card>

<span class="topics" *ngFor="let topic of topics.slice().reverse()">
  <app-topic [topic]="topic"></app-topic>
</span>

