 <mat-card class="discussion-create" *ngIf="activeCard =='create'">
  <mat-card-title>Discussões</mat-card-title>
  <mat-card-content>
    <h3>Compartilhe suas ideias ou dúvidas com os autores!</h3>
    <div>
      <mat-icon aria-hidden="false" aria-label="Example home icon">spa</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon">question_answer</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon">people</mat-icon>
    </div>
    <p>Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus questionamentos ou sugestões para o autor!</p>
  </mat-card-content>
  <mat-card-actions>
    <div mat-button class="btn-create-topic" (click)="createTopic()">
      <mat-icon aria-hidden="false" aria-label="add topic button">add</mat-icon>
      criar tópico
    </div>
  </mat-card-actions>
</mat-card>

<mat-card class="discussion-send" *ngIf="activeCard =='send'">

  <form [formGroup]="formTopic" (ngSubmit)="sendTopic()">
    <mat-card-title>Discussões</mat-card-title>
    <mat-card-content>
      <p>Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>
      <p>
          <mat-label for="assunto">Assunto</mat-label>
          <input
            class="subject"
            type="text"
            formControlName="subject"
            matInput
            placeholder="Defina um tópico sucinto para notificar os autores..."
          >
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label for="content">Conteúdo</mat-label>
          <textarea
            id="content" type="text" formControlName="content"
            matInput></textarea>
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="btn-send-topic" type="submit">
        Enviar
      </button>
    </mat-card-actions>
  </form>
</mat-card>

<mat-card class="discussion-sent" *ngIf="activeCard =='sent'">
  <mat-card-title>Discussões</mat-card-title>
  <mat-card-content>
    <h3>Seu tópico foi enviado com sucesso! :D</h3>
    <a href="#">Descubra outros trabalhos!</a>
    <div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div mat-button class="btn-create-new-topic" (click)="createTopic()">
      criar novo tópico
    </div>
  </mat-card-actions>
</mat-card>

<div *ngFor="let topic of topics.slice().reverse()">
  <app-topic [topic]="topic"></app-topic>
</div>











