<div class="side-bar">
  <h3 class="event-name">SLACA 2019</h3>

  <img class="logo" src='/assets/Logo.png' alt='image'>

  <ul class="list">
    <li class="list-item">
      <a>Apresentações</a>
    </li>

    <li class="list-item">
      <a>Comitês</a>
    </li>

    <li class="list-item">
      <a>Autores</a>
    </li>

    <li class="list-item">
      <a>Eixos temáticos</a>
    </li>

    <li class="list-item active">
      <a>Trabalhos</a>
    </li>

    <li class="list-item">
      <a>Contato</a>
    </li>
  </ul>
</div>
