
<mat-divider></mat-divider>
<div class="row align-items-center">
  <div class="logo-container col align-self-start">
    <div class="row">
      <img class="footer-logo" src='/assets/Galoa logo.png' alt='image'>
      <a href="#" class="btn-know-more" mat-flat-button>Saiba mais</a>
    </div>
  </div>

  <div class="motivation-container col align-self-end">
    <p>
      <b>Preservar a memória do evento e ampliar o acesso ao conhecimento científico</b> gerado em eventos é a razão de ser da plataforma Galoá Proceedings. <br>
      Os traballhos publicados aqui têm maior alcance e ficam disponíveis para toda a comunidade científica, mantendo aceso o debate científico fomentado pelos encontros e aumentando o impacto do evento.
    </p>
  </div>
</div>
