<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <h2 class="title">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h2>

    </div>

    <div class="col-2">
      <div class="row">

      <button mat-flat-button class="btn-article col-6">
        <mat-icon aria-hidden="false" aria-label="Download icon" fontIcon="download">download</mat-icon>
      </button>

      <button mat-flat-button class="btn-article col-3">
        <mat-icon aria-hidden="false" aria-label="Star icon" fontIcon="download">star</mat-icon>
      </button>

      <button mat-flat-button class="btn-article col-3">
        <mat-icon aria-hidden="false" aria-label="circle icon" fontIcon="download">circle</mat-icon>
      </button>

    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <img class="video-overlay" src='/assets/vídeo overlay.png' alt='image'>
    </div>
    <div class="col-2">
      <h3 class="text-pirmary">Como citar esse trabalho ?</h3>
      <div>
        <mat-card class="details-card">
          <mat-card-title>Detalhes</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          <mat-card-content>
            <p>This card indeterminates progress bar.</p>
            <p>
              Tipo de Apresentação: Pôster
              Eixo temático: Alimentação e saúde (AS)
              Palavras-chaves: Alimentos funcionais, alimentação escolar.

              Autores:
              Galileo Galilei¹
              Berta Lange de Morretes²
              Isaac Newton³
              Cesar Lattes¹
              Stephen Hawking⁴

              ¹Universidade Estadual de Campinas
              ²Universidade de São Paulo
              ³Instituto Nacional de Pesquisas Espaciais
              ⁴Universidade Federal do Rio de Janeiro
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  <div class="row">
    <mat-card class="summary-card">
      <mat-card-title>Resumo</mat-card-title>
      <mat-card-content>
        <p [ngClass]="{'limitTextHeight': isReadMore}" > Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.

Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.

Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec eleifend vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus maximus dui eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis. Praesent blandit elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non odio. Phasellus at lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis, mi vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu libero luctus, consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa.

Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus dolor at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem. Aliquam at malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <button class="btn-show-more" type="button" (click)="showText()">
          {{ isReadMore ? 'Ler mais': 'Ler menos' }}
        </button>
      </mat-card-content>
    </mat-card>
    <app-discussion></app-discussion>
  </div>
  </div>


</div>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

<!-- Comments go here4" rowHeight="100px" gutterSize="0px" >
  <mat-grid-tile colspan="3" rollspan="1">
      <h2 class="title">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h2>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
      <button mat-flat-button class="btn-article col-6">
        <mat-icon aria-hidden="false" aria-label="Download icon" fontIcon="download">download</mat-icon>
      </button>

      <button mat-flat-button class="btn-article col-3">
        <mat-icon aria-hidden="false" aria-label="Star icon" fontIcon="download">star</mat-icon>
      </button>

      <button mat-flat-button class="btn-article col-3">
        <mat-icon aria-hidden="false" aria-label="circle icon" fontIcon="download">circle</mat-icon>
      </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" >

  <mat-grid-tile colspan="3">
    <img class="video-overlay" src='/assets/vídeo overlay.png' alt='image'>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="
 -->


