<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <h2 class="title">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h2>

    </div>

    <div class="col-2">
      <div class="row">

      <button mat-flat-button class="btn-article col-6">
        <mat-icon aria-hidden="false" aria-label="Download icon" fontIcon="download">download</mat-icon>
      </button>

      <button mat-flat-button class="btn-article col-3">
        <mat-icon aria-hidden="false" aria-label="Star icon" fontIcon="download">star</mat-icon>
      </button>

      <button mat-flat-button class="btn-article col-3">
        <mat-icon aria-hidden="false" aria-label="circle icon" fontIcon="download">circle</mat-icon>
      </button>

    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <img class="video-overlay" src='/assets/vídeo overlay.png' alt='image'>
    </div>
    <div class="col-2">
      <h3 class="text-pirmary">Como citar esse trabalho ?</h3>
      <div>
        <h3>Detalhes</h3>
        <p>
          Tipo de Apresentação: Pôster
          Eixo temático: Alimentação e saúde (AS)
          Palavras-chaves: Alimentos funcionais, alimentação escolar.

          Autores:
          Galileo Galilei¹
          Berta Lange de Morretes²
          Isaac Newton³
          Cesar Lattes¹
          Stephen Hawking⁴

           ¹Universidade Estadual de Campinas
          ²Universidade de São Paulo
          ³Instituto Nacional de Pesquisas Espaciais
          ⁴Universidade Federal do Rio de Janeiro
        </p>
      </div>
    </div>
  </div>


</div>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

<!-- Comments go here4" rowHeight="100px" gutterSize="0px" >
  <mat-grid-tile colspan="3" rollspan="1">
      <h2 class="title">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h2>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
      <button mat-flat-button class="btn-article col-6">
        <mat-icon aria-hidden="false" aria-label="Download icon" fontIcon="download">download</mat-icon>
      </button>

      <button mat-flat-button class="btn-article col-3">
        <mat-icon aria-hidden="false" aria-label="Star icon" fontIcon="download">star</mat-icon>
      </button>

      <button mat-flat-button class="btn-article col-3">
        <mat-icon aria-hidden="false" aria-label="circle icon" fontIcon="download">circle</mat-icon>
      </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" >

  <mat-grid-tile colspan="3">
    <img class="video-overlay" src='/assets/vídeo overlay.png' alt='image'>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="
 -->


